<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="/shared/css/screen.css" media="screen" rel="stylesheet" type="text/css"> 
    <link href="/shared/css/pygments.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/shared/images/favicon.png" rel="fluid-icon" title="aaronwalker:me" /> 
	<title>{{ page.title }}</title>
</head>
<body>
	<div id="main">
		<div id="header-wrapper"> 
        	<div id="header" class="basic" > 
          		<div class="site"> 
              		<a class="logo" href="/"><img src="/shared/images/logo.png" alt="aaronwalker:me" width="250" height="45"/></a> 
					<div class="topsearch"> 
						<div id="attr">
							<ul>
								<li><a href="/atom.xml" class="ico_rss" original-title="RSS Feed"><span class="hover"></span></a></li>
								<li><a href="http://twitter.com/aaronwalker" class="ico_twitter" original-title="Twitter"><span class="hover"></span></a></li>
								<li><a href="http://facebook.com/aaronpwalker" class="ico_facebook" original-title="Facebook"><span class="hover"></span></a></li>
								<li><a href="http://au.linkedin.com/in/aaronpwalker" class="ico_linkedin" original-title="Linkedin"><span class="hover"></span></a></li>
							</ul>
						</div>
					</div> 
				</div> 
			</div> 
		</div> 
		<div id="wrapper"> 
			<div id="content" class="site"> 
				<div class="content"> 
					{{ content }}
				</div>
			</div>
			<div class="sidebar-shell">
				<div class="sidebar-module">
					<ul>
						<li><h3>About</h3></li>
						<li>I'm a Enterprise Java software engineer with a focus on open source Java middleware technologies. I work for <a href="http://www.base2services.com">base2Services</a> a Australian based Software consulting company that specialises in open source technologies.</li>
					</ul>
				</div>
				<div class="sidebar-module">
					<ul>
						<li><h3>Recent Posts</h3></li>
						{% for post in site.posts limit:10 %}
						<li><a href="{{ post.url }}">{{ post.title | truncatewords:3 }}...</a></li>
						{% endfor %}
						<li><a href="/archive.html">Archive</a></li>
					</ul>
				</div>
				<div class="sidebar-module">
					<ul>
						<li><h3>Projects</h3></li>
						<li><a href="http://jentrata.org">Jentrata</a> : B2B Gateway</li>
						<li><a href="http://jbehave.org">JBehave</a> : CDI/Weld maintainer</li>
						<li><a href="http://github.com/aaronwalker">My Github Projects</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="lower_footer">
			<div class="footer_inner clearfix">
				<p>Copyright Aaron Walker 2011. Licensed under CC-BY-SA.</p>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25009418-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
</body>
</html>