---
layout: default
---
<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
<div class="posted">Posted on {{ page.date | date_to_string }}</div>
<div id="social_share"> 
	<div id="retweet"> 
		<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="aaronwalker">Tweet</a> 
		<script id="deferedjs" type="text/javascript"> 
			var b = document.createElement('script');
			b.type = 'text/javascript';
			b.src = ('http://platform.twitter.com/widgets.js');
			var a=document.getElementById("deferedjs");
			a.parentNode.insertBefore(b,a);
	</script> 
	</div> 
	<div id="fblike"> 
		<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like layout="button_count" show_faces="true" width="100"></fb:like> 
	</div>
</div>
<div id="post">
{{ content }}
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'aaronwalkerme';
    var disqus_url = 'http://aaronwalker.me{{ page.url }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
